:root {
	--red: #ff0000;
	--davysGrey: #515052;
	--babyPowder: #fffffa;
	--black: #000103;
	--main-font: 'Noto Sans KR', sans-serif;
	--sub-font: 'Roboto Condensed', sans-serif;

	font-size: 62.5%;
}

.App {
	background-color: var(--babyPowder);
}

.container {
	width: 130rem;
	margin: 0 auto;
}
